<div class="container mt-2">
    <div class="fs-6 mt-1">
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <div class="container container-fluid">
                <a class="navbar-brand text-white" href="#"><img src="../static/images/icon_django.png"
                        style="width: 30px; height: 30px; border-radius: 50%;" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" href="#">Introduction</a>
                        </li>
                    </ul>
                </div>
                <nav class="navbar">
                    <div class="container-fluid">
                        <ul class="navbar-nav">
                            <li class="nav-item d-flex">
                                <a class="nav-link text-white" href="{% url 'login' %}">SignIn</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </nav>
    </div>
</div>