<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/homePage/main.css'>
    <script src='../static/homePage/main.js'></script>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    {% include 'menu.html' %}
    {% if user.is_authenticated %}
      <div class="container">
        <div class="HomePage">Hello {{user.first_name}}</div>
        <div>{{data}}</div>
        </div>
     {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
    {% include 'footer.html' %}
</body>

</html>