<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Home page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../static/home_page/main.css"
    />
    <script src="../static/home_page/main.js"></script>
    {% load django_bootstrap5 widget_tweaks %} {% bootstrap_css %} {% bootstrap_javascript %}
  </head>

  <body>
    {% if user.is_authenticated %} {% include 'menu.html' %}
    <div class="container mt-2">
      <div class="HomePage">Hello {{user.first_name}}</div>
      <div>{{data}}</div>
      <button type="button" class="btn btn-primary mt-2">
        <a
          href="{% url 'simple-upload' %}"
          class="text-decoration-none text-white"
          >Upload Image</a
        >
      </button>
      <button type="button" class="btn btn-primary mt-2">
        <a
          href="{% url 'create-post' %}"
          class="text-decoration-none text-white"
          >Create post</a
        >
      </button>
    </div>
    {% include 'footer.html' %} 
    {% else %}
    {% include 'introduction/intro_main_page.html' %}
    {% endif %}
  </body>
</html>
